nav{
    background-color:white;
}
.newsletter{
    padding-left:-500px;
}
.card {
    padding: 20px;
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px
}

.heading_main {
    float: left;
    display: flex;
    margin-bottom: 45px;
    width: 100%;
    justify-content: center;
}

.heading_main h2 {
    font-size: 45px;
    letter-spacing: -0.5px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.heading_main h2::after {
    width: 250px;
    height: 8px;
    background: cornflowerblue;
    content: "";
    display: block;
    transform: skew(-30deg);
    margin-top: 3px;
}
.full {
	float: left;
	width: 100%;
}



.heading_main.text_align_left {
        justify-content: flex-start;
    }
    
.powered_by {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}
.powered_by img{
    width: 40px;
    height:40px;
}
