nav{
    background-color:white;
}
.newsletter{
    padding-left:-500px;
}
.card {
    padding: 20px;
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px
}

.heading_main {
    float: left;
    display: flex;
    margin-bottom: 45px;
    width: 100%;
    justify-content: center;
}

.heading_main h2 {
    font-size: 45px;
    letter-spacing: -0.5px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.heading_main h2::after {
    width: 250px;
    height: 8px;
    background: cornflowerblue;
    content: "";
    display: block;
    transform: skew(-30deg);
    margin-top: 3px;
}
.full {
	float: left;
	width: 100%;
}



.heading_main.text_align_left {
        justify-content: flex-start;
    }
    
.powered_by {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}
.powered_by img{
    width: 40px;
    height:40px;
}


.full {
	float: left;
	width: 100%;
}

.news_blog {
    position: relative;
    background: #eee;
    min-height: 280px;
    text-align: center;
    margin: 15px 0;
}
.news_blog:hover .overlay,
.news_blog:focus .overlay {
	opacity: 1;
}

.news_blog:hover .blog_details,
.news_blog:focus .blog_details {
    opacity: 0;
}
.img-responsive {
	max-width: 100%;
}

.overlay {
	background: #70c6eb;
	color: #3a4149;
	font-size: 22px;
	text-align: center;
	width: 38px;
	height: 38px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a:hover .overlay {
	opacity: 1;
}
.overlay {
	background: #fff;
	color: #e91327;
}

.blog_details {
    position: absolute;
    left: 0;
    bottom: 0;
    background: cornflowerblue;
    padding: 15px 0 5px;
    text-align: center;
    transition: ease all 0.25s;
}

.news_blog:hover .blog_details,
.news_blog:focus .blog_details {
    opacity: 0;
}

.blog_details h3 {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.blog_details p {
    color: #fff;
    font-size: 15px;
    line-height: normal;
}
.news_blog:hover .blog_details,
.news_blog:focus .blog_details {
    opacity: 0;
}